<div class="menu-buttons">
    <a href="{{site.url}}/posts" title="posts" class="menu-button">
        <i class="far fa-square"></i>
        <span>POSTS</span>
    </a>
    <a href="{{site.url}}/publications" title="publications" class="menu-button">
        <i class="fas fa-book"></i>
        <span>PUBLICATIONS</span>
    </a>
    <a href="{{site.url}}/research" title="research" class="menu-button">
        <i class="fas fa-briefcase"></i>
        <span>RESEARCH</span>
    </a>
    <a href="{{site.url}}/conferences" title="conferences" class="menu-button">
        <i class="far fa-calendar-check"></i>
        <i class="fa fa-fw fa-github"></i>
        <span>CONFERENCES</span>
    </a>
</div>
