<div class="menu-buttons">
    <a title="More" class="menu-button" id="more-button">
        <i class="fas fa-bars"></i>
        <p>MENU</p>
    </a>
    <div class="menu-buttons-hidden">
        <a href="{{site.url}}/posts" title="posts" class="menu-button">
            <i class="far fa-square"></i>
            <p>POSTS</p>
        </a>
        <a href="{{site.url}}/publications" title="publications" class="menu-button">
            <i class="fas fa-book"></i>
            <p>PUBLICATIONS</p>
        </a>
        <a href="{{site.url}}/research" title="research" class="menu-button">
            <i class="fas fa-briefcase"></i>
            <p>RESEARCH</p>
        </a>
    </div>
</div>
